<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="name">Nome</label>
                    <input ngModel name="name" type="text" id="nameInput" class="form-control" required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="um">Um</label>
                    <input ngModel name="um" type="text" id="umInput" class="form-control" required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Q.tà</label>
                    <input ngModel name="amount" type="number" id="amountInput" class="form-control" 
                    required 
                    pattern="^[1-9]+[0-9]*">

                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                   <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Modifica' : 'Aggiungi' }}</button>  
                </div>
                <div *ngIf="editMode" class="col-md-2">
                   <button class="btn btn-danger" type="button" (click)="onDelete()">Elimina</button>
                </div>
                <div class="col-md-2">
                   <button class="btn btn-primary" type="button" (click)="clearForm()">Annulla</button>
                </div>
            </div>
        </form>
    </div>
</div>
